<h1>Bem-vindo ao curso de <%= @curso %>, <%= @nome %>!</h1>
<p><strong>Data:</strong> <%= date_br(Date.today) %></p>

<%= render 'menu' %>

<p>Você está em ambiente de <strong><%= rails_env %></strong>.</p>
